* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html, body{
  height: 100%;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*header*/
header {
  background-color: khaki;
  text-align: center;
}
/*main*/
main {
  background-color: grey;
  text-align: center;
  height: 100%;
}

#button {
  text-align: center;
}
/*modal*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  width: 50%;
}
#errorMsg{
  display: none;
  color: red;
  font-weight: bold;
}
/*footer*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100vw;
  padding: 20px;
}
.fa-github {
  color: black;
  font-size: 28px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/*book container style*/

#test{
  display: flex;
  justify-content: space-around;
}

/*books style*/

div#test div{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}